@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* font */
:root {
  --md-text-font: "Roboto";
}

/* ligth mode */
[data-md-color-scheme="default"] {
  --brand-header-bg: #4f7cff;
  --brand-header-text: #ffffff;
  --brand-heading-color: #0030b3;
}

/* dark mdoe/ */
[data-md-color-scheme="slate"] {
  --brand-header-bg: #356bff;
  --brand-header-text: #f9f9f9;
  --brand-heading-color: #ededed;
}

body,.md-header__button.md-logo
input,
button,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

/* hide the logo cause ugly */
.md-header__button.md-logo {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  margin: 0;
  padding: 0;
}

.md-header__button.md-logo,
.md-nav__button.md-logo {
  display: none !important;
}

/* header colors */
.md-header,
.md-tabs {
  background-color: var(--brand-header-bg);
  color: var(--brand-header-text);
}

.md-header__title,
.md-header__button,
.md-tabs__link,
.md-search__icon,
.md-search__input::placeholder {
  color: var(--brand-header-text);
}

/* heading stuff */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  color: var(--brand-heading-color);
  font-family: "Roboto", sans-serif;
}

/* hide toc on desktop */
.md-sidebar--secondary {
  display: none !important;
}

/* hide the toggle for toc */
label[for="__toc"],
.md-nav--secondary {
  display: none !important;
}

/* make the rest of the content use the free space form not having a toc */
/* @media screen and (min-width: 76.25em) {
  .md-content {
    margin-right: 0 !important;
  }
} */

/* hide the sidebar title*/
.md-sidebar--primary .md-nav--primary > .md-nav__title,
.md-sidebar--primary .md-nav__title,
.md-nav--primary > .md-nav__title {
  display: none !important;
}

/* keep the bottom footer bar compact */
.md-footer-meta {
  padding: 0.35rem 0 !important;
}

/* copyright on left + github icon on rigth/ */
.md-footer-meta__inner {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.md-copyright {
  margin: 0 !important;
}

.md-copyright__highlight {
  margin: 0 !important;
}

.md-social,
.md-social__list,
.md-social__item {
  margin: 0 !important;
  padding: 0 !important;
}

.md-social__link {
  font-size: 1.1rem;
}